@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.separation {
    background-color: #26292D;
    height: 1px;
    width: 100%;
}

/* Nav */

.nav {
    background-color: #171717;
}

.nav-row {
    display: flex;
    text-align: center;
    align-items: center;

    justify-content: space-between;

    padding: 26px 0 35px 0;
}

.logo {
    display: block;
    width: 169px;
    height: 49px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    
    text-align: center;
    align-items: center;

    column-gap: 50px;
    margin-right: 15px;
    max-width: 721px;
    height: 27px;
}

.nav-list-item {
    font-weight: 500;
    font-size: 20px;
}

.nav-list-link {
    color: #fff;
}

.nav-list-link--active {
    position: relative;
}

.nav-list-link--active::before {
    content: "";
    position: absolute;

    display: block;

    left: 0;
    top: 100%;

    height: 2px;
    width: 100%;

    background-color: #7985CE;
}

/* Header */

.header {
    background-color: #171717;
    color: #fff;
    display: flex;
    margin-bottom: 138px;
}

.header-row {
    display: flex;
    column-gap: 78px;
    margin: 138px auto;
    padding: 0 30px;
}

.header-content {
    max-width: 56.3%;
}

.header-content h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 140%;

    margin-bottom: 80px;
    margin-left: 20px;
    max-width: 656px;
}

.header-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    max-width: 629px; 
}

.header-text span {
    color: #7985CE;
}

.header-wrapper-img {
    box-shadow: drop-shadow(0px 5px 35px rgba(0, 0, 0, 0.25));
}

.header-img {
    max-width: 100%;
}

/* Main */











