@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

/* General */

html,body {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.separation {
    background-color: #26292D;
    height: 1px;
    width: 100%;
}

.topbtn {
    position: fixed;
    right: 2%;
    bottom: 4%;
}

/* Nav */

.nav {
    background-color: #171717;
}

.nav-row {
    display: flex;
    text-align: center;
    align-items: center;

    justify-content: space-between;

    padding: 26px 0 35px 0;
}

.logo {
    display: flex;
    align-items: center;
    width: 169px;
    height: 49px;
    padding: 15px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    
    text-align: center;
    align-items: center;

    column-gap: 50px;
    margin-right: 15px;
    max-width: 721px;
    height: 27px;
}

.nav-list-item {
    font-weight: 500;
    font-size: 20px;
}

.nav-list-link {
    color: #fff;
}

.nav-list-link--active {
    position: relative;
}

.nav-list-link--active::before {
    content: "";
    position: absolute;

    display: block;

    left: 0;
    top: 100%;

    height: 2px;
    width: 100%;

    background-color: #7985CE;
}

/* Header */

.header {
    background-color: #171717;
    color: #fff;
    display: flex;
    margin-bottom: 138px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    margin: 138px auto;
    padding: 0 30px;
}

.header-content {
    max-width: 56.3%;
}

.header-content h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 140%;

    margin-bottom: 80px;
    margin-left: 20px;
    max-width: 656px;
}

.header-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    max-width: 629px; 
}

.header-text span {
    color: #7985CE;
}

.header-img {
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    object-fit: cover;
    margin-left: 20px;
}

/* Main */

.main {
    margin-bottom: 138px; 
}

.main-content {
    margin: 0 auto;
    max-width: 90.75%;
}

.main-content h2 {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 66px;
    text-align: center;
}

.main-list {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
}

.main-list li+li {
    margin-top: 38px;
}

/* Footer */

.footer {
    background-color: #171717;
    color: #fff;
}

.footer-wrapper {
    margin: 0 auto;
    padding: 60px 0 50px 0;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    align-items: center;
    margin-bottom: 27px;
}

.copyright {
    text-align: center;
}

/* Space myths */

/* Main card */

.space-header {
    text-align: center;
    color: #5C62EC;
    margin: 80px 0;
    
    font-weight: 500;
    font-size: 40px;
    line-height: 1.4;
}

.card {
    max-width: 97.5%;
    display: block;
}

.card+.card {
    margin-top: 80px;
}

.card-wrapper {
    display: flex;
    column-gap: 48px;
    
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);;
    background-color: #fff;
    border-radius: 10px;
}

.card-wrapper img {
    border-radius: 10px;
}

.card-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    
    margin-top: 39px;
    max-width: 540px;
}

.many {
    max-width: 623px;
}

/* Black holes */

/* Header */

.header-black_holes {
    display: flex;
    
    background-color: #171717;
    color: #fff;
    margin-bottom: 138px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    
    margin: 138px auto;
    max-width: 1028px;

}

.header-card {
    max-width: 529px;
    height: 572px;
    background-color: #fff;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px;
    color: #000;
    margin: 20px;
}

.header-card p {
    max-width: 466px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    padding: 0 21px;
}

.header-card-img {
    border-radius: 15px;
    margin-bottom: 30px;
}

.header-card p span {
    color: #5C62EC;
}

.header-wrapper h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.4;
    color: #7985CE;
    max-width: 419px;
    padding: 20px;
}

/* Main */

.black_holes-content {
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 138px;
}

.black_holes-content h2 {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: #5C62EC;
    margin-bottom: 50px;
}

.black_holes-list {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.6;
}

.black_holes-list-item+.black_holes-list-item {
    margin-top: 46px;
}

/* Facts for kids */

.black-body {
    background-color: #171717;
    color: #fff;
}

.black-main-content h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.4;
    color: #7985CE;
    margin: 80px 0;
    text-align: center;
}

.black-main-content h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 80px;
}


.black-main-content {
    max-width: 940px;
    margin: 0 auto;
}

.black-list {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 138px;
}

.black-list-item+.black-list-item {
    margin-top: 45px;
}

/* Media */

@media screen and (max-width: 1120px) {
    
    /* Media Main */

    .header {
        margin-bottom: 100px;
    }
    
    .header-content {
        margin-left: 30px;
    }

    .header-row {
        display: flex;
        margin: 100px auto;
        padding: 0 30px;
    }
    
    .header-content h1 {
        font-weight: 700;
        font-size: 46px;
        line-height: 140%;
    
        margin-bottom: 60px;
        margin-left: 20px;
        max-width: 500px;
    }

    .header-text {
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;
        max-width: 420px; 
    }

    .header-img {
        max-width: 90%;
    }

    .main {
        margin-bottom: 100px; 
    }
    
    .main-content {
        margin: 0 auto;
        max-width: 70%;
    }
    
    .main-content h2 {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 50px;
        text-align: center;
    }
    
    .main-list {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.4;
    }
    
    .main-list li+li {
        margin-top: 30px;
    }
    
    .footer-wrapper {
        margin: 0 auto;
        padding: 45px 0 35px 0;
    }
    
    .social {
        display: flex;
        justify-content: center;
        column-gap: 25px;
        align-items: center;
        margin-bottom: 20px;
        
    }
    
    .copyright {
        text-align: center;
        font-size: 18px;
    }
}


@media screen and (max-width: 950px) {
    
    /* Media Main */
    .header-img {
        max-width: 75%;
    }

    .header-content h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 140%;
    
        margin-bottom: 60px;
        margin-left: 20px;
        max-width: 400px;
    }

    .header-text {
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;
        max-width: 450px; 
    }
    
    /* Media nav */
    
    .logo {
        width: 150px;
        height: 45px;
        align-items: center;
    }

    .nav-list {
        max-width: 550px;
        column-gap: 20px;
    }

    .nav-list-item {
        font-weight: 400;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    
    .header {
        margin-bottom: 80px;
    }
    
    .header-content h1 {
        font-weight: 700;
        font-size: 25px;
        line-height: 140%;
    
        margin-bottom: 40px;
        margin-left: 20px;
        max-width: 400px;
    }

    .header-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        max-width: 350px; 
    }
    
    
    .header-img {
        max-width: 55%;
        margin-left: 100px;
    }

    .header-row {
        display: flex;
        margin: 80px auto;
        padding: 0 20px;
    }

    .main {
        margin-bottom: 80px; 
    }
    
    .main-content {
        margin: 0 auto;
        max-width: 60%;
    }
    
    .main-content h2 {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .main-list {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
    }
    
    .main-list li+li {
        margin-top: 20px;
    }
    
    .footer-wrapper {
        margin: 0 auto;
        padding: 40px 0 30px 0;
    }
    
    .social {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        align-items: center;
        margin-bottom: 18px;
        
    }
    
    .copyright {
        text-align: center;
        font-size: 14px;
    }
}






















